body {
    background-color: black;
}

.game-header {
    color: white;
    display: flex;
    justify-content: center;
}

.result-dashboard {
    color: white;
}

.result {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgb(31, 26, 26);
    padding: 30px 0px 30px 0px;
}

.selection-container {
    display: flex;
    gap: 50px;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 100ms;
}

.icon {
    position: absolute;
    right: 0;
    padding: 0px 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 100ms;
    font-size: 25px;
}

.selection:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px white;
    border-radius: 100px;
    background-color: grey;
}

.icon:hover {
    transform: scale(1.2);
}

.result-display {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
}

a {
    text-decoration: none;
}

#player-score, #computer-score {
    display: flex;
    justify-content: center;
}